<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }} <a href="{{ meta.authorURL }}" target="_blank" rel="noopener">Stéphanie Delon</a></span>
        <a href="{{ meta.url }}">
            {% icon "github" %}11ty.Stripe
        </a>
    </div>
</footer>