.header {
    padding: $spacing-y 0;
    font-family: $font-family-monospace;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        &--logo {
            text-decoration: none;
            color: $gray-darkest;
        }
    }
}
