.nav {
    font-family: $font-family-monospace;
    &__menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
    }
    &__link {
        display: block;
        text-decoration: none;
        color: $gray-darkest;
        padding: 0.5em 1em;
        &:hover {
            background-color: $brand-olive;
            color: $gray-lightest;
        }
    }
    &__item {
        &--active {
            border-bottom: 3px solid $brand-olive;
        }
    }
    &__toggle {
        @include button-reset;
    }

    @include mq-down(lg) {
        &.is-open &__menu {
            display: block;
        }
    }

    @include mq(lg) {
        &__toggle {
            display: none;
        }
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }
    }
}
