---
layout: base
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

{% for post in collections.posts %}
<div class="posts">
    <img src="{{ post.data.img }}" width="50%">
    <h1>{{ post.data.title }}</h1>
    <p>{{ post.data.excerpt }}</p>
</div>
{% endfor %}