---
layout: base
permalink: /produit-du-mois/
eleventyNavigation:
  key: Produit du mois
---


<p>3 crèmes de jour</p>
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em;width:30%;"
  id="checkout-button-price_1H41f3D77Y1fgk7IxZ0uHYZs"
  role="link"
  type="button"
>
  Acheter
</button>

<div id="error-message"></div>

<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>
<script>
(function() {
  var stripe = Stripe('pk_test_WeEoxK96rAQMGdzy7FlEEBxl005CLhc17q');

  var checkoutButton = document.getElementById('checkout-button-price_1H41f3D77Y1fgk7IxZ0uHYZs');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1H41f3D77Y1fgk7IxZ0uHYZs', quantity: 1}],
      mode: 'payment',
      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://test-ecommerce11ty.netlify.app/success',
      cancelUrl: 'https://test-ecommerce11ty.netlify.app/',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>