---
layout: base
---

<div class="container">
    <h1>Home</h1>
    <div class="hero">
        <img class="hero__img" loading="lazy" src="https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9"> 
        <section class="hero__section">
            <h2>Découvrez nos nouveautés</h2>
            <p>Nouvelle gamme de produits bio et naturels</p>
            <button class="hero__section--btn">
                <i class="fa fa-arrow-circle-right"></i>
                <a class="hero__section--btn-link" href="/boutique">Boutique</a>
            </button>
        </section>
    </div>
</div>